@model ProjectManager.Models.ViewModels.ShowUsers

@{
    ViewBag.Title = "Show";
}

<h2>Show User</h2>
<div class="navbar">
    <a class="navlink" href="/User/List">Back to List</a>
    <a class="navlink" href="/User/Update/@Model.User.UserId">Update</a>
    <a class="navlink" href="/User/DeleteConfirm/@Model.User.UserId">Delete</a>
</div>
<div>
    
    <div class="col2">
        @*<div id="profilecontainer">
            @{
                if (Model.User.HasPic == 1)
                {
                    <img src="../../Content/Pets/@(Model.pet.PetID).@(Model.pet.PicExtension)" alt="Image of @Model.pet.PetName" />
                }
            }
        </div>*@
        <div>First Name : @Model.User.UserFname</div>
        <div>Last Name : @Model.User.UserLname</div>
        <div>Email : @(Model.User.Email)</div>
        <div>Phone : @(Model.User.Phone)</div>
        <div>Role : @Model.User.Role.RoleDesc</div>

    </div>
    <!--This section will display the tasks that Selected user is assigned to if any.-->
    <div class="col2last">
        <div class="sectionheader">Assigned Tasks:</div>
            @{

            foreach (var task in @Model.Task)
            {
                <div class="lineitem">
                    <a href="/Task/Show/@task.TaskId">@task.TaskDesc, @task.Status</a>
                </div>
            }

                
            }
        </div>     
    <div style="clear:both;"></div>
</div>